@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #CAD183;   
    --color-secondary: #66023C; 
    --color-background: #ffffff;
  }

  [data-theme="vintage-cover"] {
    --color-primary: #FFC7A5;   
    --color-secondary: #4C5A4E; 
    --color-background: #ffffff;
  }

  [data-theme="peach-garden"] {
    --color-primary: #f8eec2;   
    --color-secondary: #d8918f; 
    --color-background: #f9ead2;
  }

  [data-theme="chapter-by-the-sea"] {
    --color-primary: #FFEBAF;   
    --color-secondary: #4C9DB0; 
    --color-background: #ffffff;
  }

  [data-theme="rainy-romance"] {
    --color-primary: #7D99A3;   
    --color-secondary: #FFCDC1; 
    --color-background: #f8eec2;
  }

  [data-theme="morning-pages"] {
    --color-primary: #DEF1E8;   
    --color-secondary: #EBAE95; 
    --color-background: #FAFAFA;
  }

  [data-theme="typewriter-ink"] {
    --color-primary: #C2D8C4;   
    --color-secondary: #222222; 
    --color-background: #F9F9F9;
  }

  [data-theme="pink-skies"] {
    --color-primary: #f2aebc;   
    --color-secondary: #3d5d91; 
    --color-background: #f2dcdb;
  }

  [data-theme="fey-garden"] {
    --color-primary: #f8cac4;   
    --color-secondary: #447a5f; 
    --color-background: #cfdd9d;
  }

  [data-theme="wisteria-breeze"] {
    --color-primary: #283f76;   
    --color-secondary: #2c9fc7; 
    --color-background: #f5ecd2;
  }

  [data-theme="lavander-bloom"] {
    --color-primary: #2c0415;   
    --color-secondary: #b175a5; 
    --color-background: #dfbbca;
  }

  [data-theme="olive-grove"] {
    --color-primary: #6B8E23;   
    --color-secondary: #FFCDC1; 
    --color-background: #FAFAFA;
  }

  [data-theme="dark-academia"] {
    --color-primary: #05472A;   
    --color-secondary: #ECEAEC; 
    --color-background: #02120A;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}